body{ 
	font-family: fantasy;
	font-size: x-large;
	color: #101010;
	box-shadow: 25px 25px 50px dimgrey;
	border-radius: 20px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	border-style: outset;
	/* [ Mainly used for the login screen to make it larger ]
		line-height: 125px;
	   ( Commented because it looks better for the homepage )
	*/
	padding: 10px 10px 10px 10px;
	width: 80%;
	height: 90%;
	background: linear-gradient( 45deg, white 30%, black 270% );
} 

label{
	text-align: center;
}

.myButton{	
	text-decoration: none;
	color: black;
}

header{
	text-align: center;
	font-family: fantasy;
	font-size: x-large;
	font-style: italic;
	color: black;
}

footer{
	text-align: center;
	font-size: xx-large;
}

h1{
	text-decoration: underline;
	text-shadow: 4px 4px 6px dimgrey;
}


table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

option,select,textarea{
	background-color: PapayaWhip;
}

#Links{
	text-decoration: none;
	border-radius: 10px;
	word-spacing: 100px;
	border-color: black;
	margin: 200px;
	border-width: 1px;
	border-style: solid;
	line-height: 2.4em;
	padding: 2px;
	width: auto;
	text-align: center;
	display: block;
	margin: auto;
	background: linear-gradient( 45deg, white 30%, black 270% );
	/*background: linear-gradient( 45deg, #A9A9A9 50%, PapayaWhip 150% );*/
}

#Categories{
	text-align: center;
}

a:hover{
	color: white; 
	border-radius: 3px;
	background: black;
}
